@charset "UTF-8";
/*共通部分*/
body {
  font-size: 18px;
  color: #333;
  font-family: "ヒラギノ明朝 ProN", serif;
  line-height: 1.6875;
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

img:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

button {
  border: 1px solid;
}

.wrap {
  overflow: hidden;
}

h2 {
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #0000FF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h2:hover::after {
  width: 100%;
}

/*トップへ戻るボタン*/
.floating {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
}

.floating a {
  display: block;
  color: #fff;
  background: #000;
  padding: 8px;
  opacity: 0.6;
}

.floating a:hover {
  opacity: 1;
}

/*ヘッダー*/
header {
  width: 100%;
  background-size: cover;
  height: 1200px;
  background-repeat: repeat-x;
  background-image: url("../img/top-image.jpg");
}

.header-part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-left {
  margin: 20px 0 0 40px;
  font-size: 24px;
  position: fixed;
}

.header-right {
  margin: 0 0 0 auto;
  margin-right: 30px;
}

.header-right ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-right li {
  padding: 0 30px;
}

.header-main-title {
  padding: auto 0;
}

.globalMenuSp {
  display: none;
}

.header-nav-item a {
  position: relative;
}

.header-nav-item a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-nav-item a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

/*企業理念*/
.company-policy {
  margin-bottom: 40px;
  margin-top: 60px;
}

/*お知らせパート*/
.company-info h2 {
  margin-top: 70px;
}

.info-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 700px;
  margin: 0 auto;
}

.info-items li {
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid;
}

.info-content {
  font-size: 20px;
}

.info-button button {
  background-color: transparent;
  font-size: 14px;
}

/*施工事例*/
.implementation {
  margin-top: 100px;
}

.implementation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0px;
  width: 100%;
}

.implementation-item {
  width: 100%;
}

.implementation-item img {
  height: 500px;
}

.implementation-item button {
  background-color: transparent;
}

.implementation-item {
  padding: 50px;
}

.implementation-bottom-button {
  margin-top: 50px;
}

.implementation-bottom-button button {
  padding: 12px 40px;
  font-size: 20px;
  color: #000;
  background-color: transparent;
}

/*お問い合わせ*/
.contact__label {
  font-size: 16px;
  font-weight: 700;
}

.contact__label {
  font-size: 16px;
  display: inline-block;
}

.contact__label--required {
  position: relative;
}

.contact {
  margin-top: 100px;
}

.contact__item {
  margin: 0 auto;
  max-width: 500px;
}

.contact__controls {
  margin: 0;
}

.contact__control {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.contact__control:last-child {
  margin-bottom: 0;
}

.contact__control dt {
  width: 160px;
  padding: 6px 0 0;
  margin: 0;
}

.contact__control dd {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  padding: 0;
  margin: 0;
}

.contact__radio-item {
  margin-right: 32px;
}

.contact__radio-item:last-child {
  margin-right: 0;
}

.contact__check a {
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}

.contact__label--required {
  position: relative;
}

/*採用情報*/
.recruit {
  margin-top: 100px;
}

.recruit-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.recruit-image {
  position: relative;
  width: 100%;
}

.recruit-image img {
  vertical-align: middle;
  height: 300px;
}

/*フッター*/
footer {
  background-color: #000;
  margin-top: 0px;
}

.footer-part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-left {
  color: #fff;
  margin: 20px 0 0 40px;
  font-size: 24px;
}

.footer-right {
  color: #fff;
  margin: 0 0 0 auto;
  margin-right: 30px;
}

.footer-right ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-right li {
  padding: 0 30px;
}

.footer-right a {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: inline-block;
}

.footer-right a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #F00;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.footer-main-title {
  padding: auto 0;
}

.footer-copyright {
  margin-top: 20px;
}

.footer-copyright p {
  color: #fff;
  font-size: 12px;
}

/*レスポンシブ*/
@media screen and (max-width: 768px) {
  /*レスポンシブヘッダー*/
  header {
    height: 400px;
  }
  .header-left {
    display: block;
    margin: 0 auto;
  }
  .header-right {
    display: none;
  }
  .header-main-title {
    vertical-align: auto;
    margin-top: 100px;
  }
  /*　ハンバーガーボタン(レスポンシブ)　*/
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 3px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  /* ナビ開いてる時のボタン(レスポンシブ) */
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: block;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .6s ease, visibility .6s ease;
    transition: opacity .6s ease, visibility .6s ease;
  }
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    -webkit-transition: .4s all;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover {
    background: #ddd;
  }
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration: none;
  }
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
  }
  /*　company section レスポンシブ　*/
  .info-items {
    display: block;
    text-align: left;
    margin-left: 20px;
  }
  .info-items li {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: 0px solid;
  }
  .info-content {
    font-size: 20px;
  }
  .info-button button {
    background-color: transparent;
    font-size: 14px;
  }
  /*　施工実績 レスポンシブ　*/
  .implementation-items {
    display: block;
    width: 100%;
  }
  .implementation-item {
    width: 100%;
  }
  .implementation-item img {
    height: 500px;
  }
  .implementation-item button {
    background-color: transparent;
  }
  .implementation-item {
    padding: 0px;
    margin-top: 40px;
  }
  /*採用情報レスポンシブ*/
  .recruit {
    margin-top: 100px;
  }
  .recruit-image {
    display: block;
  }
  .recruit-image {
    width: 100%;
  }
  .recruit-image img {
    vertical-align: middle;
    height: 300px;
  }
  /*フッターレスポンシブ*/
  .footer-left {
    display: none;
  }
  .footer-right {
    display: none;
  }
  .footer-copyright {
    margin: 0px;
    padding-bottom: 5px;
  }
}
/*# sourceMappingURL=style.css.map */